includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - resources/
        - routes/
        - support/
        - tests/
    level: 5
    excludePaths:
        - vendor/
        - node_modules/
        - vendor-licensed/
        - tinker/
    checkMissingIterableValueType: false